{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>자기소개</h1>
    <hr>
    <h2>기본 정보</h2>
    <ul>
        <li><strong>이름:</strong> 김희주</li>
        <li><strong>전공:</strong> 전자정보공학과</li>
        <li><strong>이메일:</strong> 개인정보비공개(최근 보이스 피싱당함)</li>
        <li><strong>소개:</strong> 직장생활과 학업을 같이 하고 있습니다.</li>
    </ul>

    <h2>관심 분야</h2>
    <p>미래기술과 설비의 생산성능 향샹에 관심이 많습니다.</p>

    <h2>특이사항</h2>
    <p>개인 웹사이트를 처음 만들어 봅니다.</p>

    <h2>취미</h2>
    <p>여행과 건강 그리고 미래먹거리(기술) 생각하기 </p>
    
    <h2>P.S</h2>
    <p>여러분 모르는 번호 전화는 받지 마세요!! </p>



</div>
{% endblock %}